### OSX ###
.DS_Store
.coverage
*.db
.idea


### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache
flake8.pycodestyle.log

# Distribution / packaging
.Python
ev/
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/

